table,
th,
td {
    border: 1px solid black;
}

table {
    width: 500px;
    border-collapse: collapse;
}

th {
    height: 50px;
}

thead {
    background-color: yellow;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: black;
    color: white;
}